<%- model_class = Post.new.class -%>
<div class="text1">
  
</div>

<%= render @posts %>
  
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
