// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  text-align: center;
}

.post {
  
  text-align: left;
  margin-top: 30px;

}
.post h1 {
  text-align: center;
}
.post .created_at {
  text-align: right;

}

#link a{
  color: black !important;
}
.twtr-ft span a {display: none !important; }