<h1><% title 'Lieutenant! Lieutenant! Shows' %></h1>
  <table>
    <tr>
      <td>
        <%= l show.showdate, :format => :oi %>
      </td>
    </tr>
    <tr>
      <td>
        <%= show.location %>
      </td>
    </tr>
      <tr>
        <td>
        - w/ <%= show.support %>, 
        <%= show.eintritt %> €
      </td>
    </tr>
    <p></p>
  </table>
  

  
  



