<% set_meta_tags :noindex => true %>
# <meta name="robots" content="noindex" />
<% set_meta_tags :noindex => 'googlebot' %>
# <meta name="googlebot" content="noindex" />
<h1>Editing show</h1>

<%= render 'form' %>

<%= link_to 'Show', @show %> |
<%= link_to 'Back', shows_path %>
