<% set_meta_tags :noindex => true %>
# <meta name="robots" content="noindex" />
<% set_meta_tags :noindex => 'googlebot' %>
# <meta name="googlebot" content="noindex" />

<h1>New show</h1>

<%= render 'form' %>

<%= link_to 'Back', shows_path %>
